<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675300715574-sks7v6pfo1a33qqec75nudu0ioakjikr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675300715574-sks7v6pfo1a33qqec75nudu0ioakjikr</string>
	<key>API_KEY</key>
	<string>AIzaSyDM3iTHNc3wqXOxfWgbSNsbato9x0C97dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>675300715574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.yourNewHome</string>
	<key>PROJECT_ID</key>
	<string>yournewhome-1098e</string>
	<key>STORAGE_BUCKET</key>
	<string>yournewhome-1098e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675300715574:ios:3b43e4a1cec9cf9e7c3c97</string>
</dict>
</plist>